# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações do Banco de Dados
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=sua_senha
DB_NAME=beach_tenis

# Configurações JWT
JWT_SECRET=beach_tenis_secret_key
JWT_EXPIRATION=24h
