##############################
# FLUTTER / DART
##############################
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/pubspec.lock
**/.idea/
**/.vscode/
**/coverage/
**/android/local.properties
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/

##############################
# NODE.JS
##############################
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/.pnpm-store
**/.next/
**/.nuxt/
**/dist/
**/out/
**/.env
**/.env.*.local

##############################
# C# / DOTNET
##############################
**/bin/
**/obj/
**/out/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vcxproj.user
*.dbmdl
*.bak
*.log
*.ldf
*.mdf

# Rider / VS Code / Visual Studio
.idea/
.vscode/
.vs/

##############################
# SISTEMA OPERACIONAL
##############################
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini

##############################
# ARQUIVOS DE BACKUP
##############################
*.swp
*.swo
*~
*.tmp
*.temp
*.bak
